.whatyouwish{
	margin:50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whatyouwish h2{
	margin:0;
	color:var(--main);
	font-weight:600; 
	text-align: center;
}

.whatyouwish .line{
	margin: 5px 0;
	background: var(--main);
	width:120px;
	height: 2px;
}

.whatyouwish p{
	font-size:14px;
	color:#666;
	font-weight: 500;
	margin:0;
	text-align: center;
}

.whatyouwish .frames{
	margin-top: 30px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
	grid-column-gap:20px;
	grid-row-gap: 40px;
}

.whatyouwish .frames>div>div{
	background-color: #eee;
	padding:10%;
	height: 100%;
	position: relative;
	transition: 0.5s;
}

.whatyouwish .frames img{
	width: 100%;
	height:100%;
	cursor: pointer;
}

.frameNow{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	color:white;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.frameNow>div{
	background: var(--main);
	padding:15px;
	text-align: center;
	width: 100%;
}

.imgWrapper:hover{
	transform: translateY(-10px);
}

.imgWrapper:hover .frameNow{
	opacity: 1;
	visibility: visible;
}